{
	"root": true,
	"extends": [
		"niksy",
		"niksy/browser"
	],
	"overrides": [
		{
			"files": [
				"test/manual/webpack.config.js",
				"gulpfile.js",
				"karma.conf.js"
			],
			"env": {
				"node": true
			},
			"rules": {
				"no-console": 0
			}
		}
	]
}
